*{
  padding: 0px;
  margin: 0px;
}
.header .ant-card-body{padding: 10px 0px;border-radius:0px}
.ant-card-cover{margin: 0px !important;}
.mt-2{margin-top: 15px}
.mt-3{margin-top: 30px;}
.my-3{margin-top: 30px;margin-bottom: 30px;}
.mb-3{margin-bottom: 30px;}
.mx-auto{margin-left: auto;margin-right: auto;}
.pt-3{padding-top: 5px;}
.py-3{padding-top: 30px !important;padding-bottom: 30px !important;}
.py-5{padding-top: 50px !important;padding-bottom: 50px !important;}
.commonCategories{padding: 6px 0 7px 0px;}
.commonContainerFluid{max-width: 1600px;margin: 0 auto;padding: 0 20px;}
.banner{overflow: hidden;}
.text-center{text-align: center;}
.slick-slide img{width: 100%;height: auto;}
.rounded{border-radius:6px}
.common_product_buttons{position: absolute;right: 15px;top: 15px;display: flex;}
.bg-light{background-color: #f6f6f6;}
.bg-dark{background-color: #000;}
.text-white{color: #fff !important;}
.text-gray{color: #e9ecef !important;}
.img-fluid{max-width: 100%;height: auto;}
.homeTestimonials{max-width: 600px;}
.footerList li{list-style-type: none;}
.footerList li a{color: #666 !important;display: block;padding: 5px 0;}
.footer_links a{color: #fff !important;display: inline-block;padding: 0 15px;}
.footer_links a:first-child{padding-left: 0px;;}
hr{border-top: 1px solid #dee2e6;opacity: .25;}

.text-lg-start{text-align: start;}
.text-lg-end{text-align: end;}
@media (max-width: 991px) {
  .hide-lg{display: none;}
}